body{
    background: none;
}
ul li{
    list-style: none;
}
.header{
    background:-moz-linear-gradient(top, #476178, #273a4d);
    background:-webkit-linear-gradient(top, #476178, #273a4d);
}
.main {
	margin-top: 40px;
}
#content{
    background: #fff;
    padding: 20px;
}
#footer{
    background:-moz-linear-gradient(top, #476178, #273a4d);
    background:-webkit-linear-gradient(top, #476178, #273a4d);
    clear: both;
    padding: 40px;
    font-family: Calibri;
}
#clear{
    clear: both;
}
/**add items**/

#addItem input{
    font-size: 16px;
    height: 25px;
    width: 225px;
}
#addItem select{
    font-size: 17px;
    height: 25px;
    width: 166px;
}
#addItem textArea{
    width: 161px;
}
#addedItems{
    border: 2px ridge orange;
    float: left;
    margin: 0 0 0 27px;
    padding: 15px;
    width: 515px;
}
/** add item end **/
#forItem{
    border: 2px ridge orange;
    float: left;
    margin: 0 0 20px 30px;
    padding: 20px;
    width: 587px;
}
.addNotif {
    float: right;
}

.new-item-holder ul{
    padding: 0px;
    margin: 0px;
}

div.item-form {
    float: none;
    margin: 0 auto;
}

form.validate_form {
    float: none;
}

.menu-bar{
    height: 50px;
}

.login-input{
    height: 50px;
}
.pull-left.top-thumb {
    padding: 0;
}

.phone_display {
    float: right;
    max-height: 600px;
    overflow-y: scroll;
}
.pagination_text {
    padding: 0;
}
.pagination_text li {
    display: inline-block;
}
